<h1>Results</h1>

Search Term: <strong><%= params[:address].split.map(&:capitalize).join(' ') %></strong><br/>

<div class='search'>
  <% @yelp_info.each do |business| %> <br/>
    <div class='yelp-results'>
      <strong><%= business['name'] %></strong><br/>
      <%= business['id'] %>
      <%= business['location']['address'][0] %><br/>
      <%= business['location']['display_address'][1] %><br/>
      <a href="<%= business['url'] %>">View on Yelp</a><br/> 
      <div class="yelp-photo"><img src="<%= business['image_url'] %>" /></div>
    </div>
    <%= link_to "Add to 'My Parks'", '/parks/new', class: 'btn btn-default' %><br/>
  <% end  %>
</div>
<%#= @coordinates %>
<%#= @request.inspect %> 
