<h1><%= @park.name %></h1>
  
  <img src="<%= @park.img_url %>" />

  <p><strong>Address: </strong><%= @park.street_address %></p><br/>

  <%= form_for :favorite, method: :post, url: parks_path do |f| %>
    <%= f.hidden_field :dog_id, value: :dog_id %>
    <%= f.hidden_field :park_id, value: :park_id %>
    <%= f.submit "Add to Favorites", class: 'btn btn-default' %>
  <% end %>


<!-- <h3>Dogs who roam here</h>-->
<!--shows all dogs with this park_id as their home park
  <%# @park.dogs.each do |dog| %>
    <p><%#= link_to(dog.name, dog_path(dog)) %> </p>
    <p><%#= image_tag dog.image %></p>
  <%# end %> -->