<%= form_for @dog, :html => {:multipart => true} do |f| %>
  <%= f.text_field :name, placeholder: 'Name' %><br/><br/>
  <%= f.text_field :breed, placeholder: 'Breed' %><br/><br/>
  <%= f.text_field :age, placeholder: 'Age' %><br/><br/>
  <div id="photo_attachment_container">
    <div class="wrapper">
      <%= f.file_field :image %><br/><br/>
    </div>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %><br/>
<% end %>