<div class="page-header">
  <h2><%=@dog.name %></h2>
</div>

<div class="dog">
  <div class="dog-show"><%= image_tag @dog.image.url %><br /></div>
  <%= @dog.name %><br />
  <%= @dog.breed %><br />
  Age: <%= @dog.age %><br />

  <% @dog.parks.each do |park| %> <br/>
    Roams at: <%= link_to park.name, park_path(park) %><br />
<% end %>

</div>

<%= link_to 'Search Dog Parks', '/search', class: 'btn btn-default' %>


