<div class="page-header">
  <h2><%=@dog.name %></h2>
</div>

<div class="dog">
  <%= image_tag @dog.image.url %><br />
  <%= @dog.name %><br />
  <%= @dog.breed %><br />
  Age: <%= @dog.age %><br />
  <!-- Roams at: <%#= link_to @dog.park.name, park_path(@dog.park) %><br /> -->
</div>

