<div class="page-header">
  <h2><%=@dog.name %></h2>
</div>

<div class="dog">
  <div class="dog-profile-img"><%= image_tag @dog.image.url %><br/></div>
  <%= @dog.breed %><br/>
  Age: <%= @dog.age %><br/><br/>

  <h4><%=@dog.name %>'s Favorite Parks:</h4>
  <% @dog.parks.each do |park| %> <br/>
    <%= link_to park.name, park_path(park) %><br/>
  <% end %>
</div><br/><br/>

 <%= link_to 'Delete Dog', dog_path(@dog), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-default' %>

<%= link_to 'Search Dog Parks', '/search', class: 'btn btn-default' %>


