<h3>LANDING PAGE!</h3>

<%#= form_tag(method: 'get') do %>
  <%#= text_field_tag(term: params[:term], placeholder: "Search Parks") %>
  <%#= submit_tag("Search") %>
<%# end %>

<% @results['businesses'].each do |business| %>
  <strong><%= business['name'] %></strong><br/>
  <img src="<%= business['image_url'] %>" /><br/>
  <strong>Neghborhood:</strong> <%= business['location']['neighborhoods'][0] %><br/>
  <%= business['location']['address'][0] %><br/>
  <%= business['location']['display_address'][2] %><br/>
  <a href="<%= business['url'] %>">View on Yelp</a><br/><br/>

    <%# business['location']['display_address'].each do |item| %>
      <%#= item %>
    <%# end  %>   
<% end  %>

