<h3>Welcome to dog<em>E</em>dating!</h3>

<div class='landing-img'>
 <%= image_tag('landing.png') %>
 </div>

<div class='landing-buttons'>
  <% if !current_user %>
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
  <% end %>

  <% if current_user %>
    <%= link_to 'Search for Parks', '/search', class: 'btn btn-primary' %>
      <% if current_user.dog.nil? %>
        <%= link_to 'Add Your Dog', '/dogs/new', class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'My Pup', dog_path(current_user.dog), class: 'btn btn-primary' %></li><br /><br />
    <% end %>
  <% end %>
</div><br/>

<div class="welcome">
  <p>As a dog owner, you know all the dogs at your favorite dog parks.</p>
  <p>But you may want to know a particular owner too!</p>
  <p>Sign up for dogEdating and start that human conversation!</p>
</div>


