<div class="navbar navbar-custom-sidebar" role="navigation">
  <div class="container-sidebar">
    <div class="navbar-sidebar">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="sidebar">
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to('Search Dog Parks', '/search') %>
            <% if current_user.dog.nil? %>
              <li><%= link_to('New Dog', '/dogs/new') %></li>
            <% else %>
              <li><%= link_to('My Pup', dog_path(current_user.dog)) %></li>
            <% end %>
        <% else %>
          <li><%= link_to 'About Us', '/about' %></li>
          <li><%= link_to 'Contact', '/contact' %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


