<!DOCTYPE html>
<html>
<head>
  <title>DogEdating20</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class="HolyGrail">
  <%= render 'layouts/devise' %>
  <header><%= render 'layouts/header' %></header>
  <div class="HolyGrail-body">
    <main class="HolyGrail-content"><%= yield %></main>
    <nav class="HolyGrail-sidebar-left"><%= render 'layouts/sidebar_left' %></nav>
    <aside class="HolyGrail-sidebar-right"><%= render 'layouts/sidebar_right' %></aside>
  </div>
  <div class="container-footer">
    <footer><%= render 'layouts/footer' %></footer>
  </div>
</body>
</html>
