<!DOCTYPE html>
<html>
<head>
  <title>DogEdating20</title>
  <%= stylesheet_link_tag    'application', media: 'all' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- alerts for devise -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
